<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.provider.mapper.AreaMapper">
    <!--<cache type="com.yyw.yhyc.cache.LoggingRedisCache"-->
           <!--flushInterval="86400000" size="1024000">-->
    <!--</cache>-->
    <resultMap id="AreaResultMapper" type="com.example.dubboApi.model.Area">
        <result column="id" property="id"/>
        <result column="area_code" property="areaCode"/>
        <result column="area_name" property="areaName"/>
        <result column="city_rural_code" property="cityRuralCode"/>
        <result column="deadline" property="deadline"/>
        <result column="level" property="level"/>
        <result column="parent_id" property="parentId"/>
        <result column="href" property="href"/>
    </resultMap>

    <sql id="commonColumns">
        id,
        area_code,
        area_name,
        city_rural_code,
        deadline,
        level,
        parent_id,
        href
    </sql>

    <sql id="commonColumnsNotPK">
        area_code,
        area_name,
        city_rural_code,
        deadline,
        level,
        parent_id,
        href
    </sql>


    <sql id="commonProcessDateColumns">
        id,
        area_code,
        area_name,
        city_rural_code,
        deadline,
        level,
        parent_id,
        href
    </sql>

    <sql id="commonCondition">
            <if test="areaCode!= null and areaCode!= ''">
                AND area_code = #{areaCode}
            </if>
            <if test="areaName!= null and areaName!= ''">
                AND area_name = #{areaName}
            </if>
            <if test="cityRuralCode!= null and cityRuralCode!= ''">
                AND city_rural_code = #{cityRuralCode}
            </if>
            <if test="deadline!= null ">
                AND deadline = #{deadline}
            </if>
            <if test="level!= null and level!= ''">
                AND level = #{level}
            </if>
            <if test="parentId!= null and parentId!= ''">
                AND parent_id = #{parentId}
            </if>
            <if test="href!= null and href!= ''">
                AND href = #{href}
            </if>
    </sql>


    <insert id="save" parameterType="com.example.dubboApi.model.Area">
        <![CDATA[ INSERT INTO t_area ( ]]> <include refid="commonColumnsNotPK"/>
        <![CDATA[
                ) VALUES (
                #{areaCode},
                #{areaName},
                #{cityRuralCode},
                #{deadline},
                #{level},
                #{parentId},
                #{href}
      ) ]]>
    </insert>

    <insert id="batchInsert"  parameterType="com.example.dubboApi.model.Area">
        insert into t_area( <include refid="commonColumnsNotPK"/> )
        values
            <foreach collection="list" item="item" index="index" separator=",">
                (
                        #{item.areaCode},
                        #{item.areaName},
                        #{item.cityRuralCode},
                        #{item.deadline},
                        #{item.level},
                        #{item.parentId},
                        #{item.href}
                )
            </foreach>
    </insert>

    <update id="update" parameterType="com.example.dubboApi.model.Area">
        <![CDATA[ UPDATE t_area SET
         id = #{id} ]]>

        <if test="areaCode!= null and areaCode!= ''">
            , area_code = #{areaCode}
        </if>
        <if test="areaName!= null and areaName!= ''">
            , area_name = #{areaName}
        </if>
        <if test="cityRuralCode!= null and cityRuralCode!= ''">
            , city_rural_code = #{cityRuralCode}
        </if>
        <if test="deadline!= null and deadline!= ''">
            , deadline = #{deadline}
        </if>
        <if test="level!= null and level!= ''">
            , level = #{level}
        </if>
        <if test="parentId!= null and parentId!= ''">
            , parent_id = #{parentId}
        </if>
        <if test="href!= null and href!= ''">
            , href = #{href}
        </if>

      <![CDATA[  WHERE id = #{id} ]]>
    </update>


    <delete id="deleteByPK" parameterType="java.lang.Integer">
        <![CDATA[ DELETE FROM t_area
        WHERE id = #{id} ]]>
    </delete>

    <delete id="deleteByPKeys" parameterType="map">
        DELETE FROM t_area WHERE
        <foreach collection="primaryKeys" index="index" item="id" open=" id IN(" separator="," close=") ">
            ${id}
        </foreach>
    </delete>

    <delete id="deleteByProperty" parameterType="com.example.dubboApi.model.Area">
        DELETE FROM t_area WHERE 1 = 1
        <include refid="commonCondition"/>
    </delete>

    <select id="getByPK" parameterType="java.lang.Integer" resultMap="AreaResultMapper">
        SELECT <include refid="commonProcessDateColumns"/>
        FROM t_area WHERE id = #{id}
    </select>

    <select id="list" resultMap="AreaResultMapper">
        SELECT  <include refid="commonProcessDateColumns"/>
        FROM t_area
    </select>

    <select id="listByProperty" parameterType="com.example.dubboApi.model.Area" resultMap="AreaResultMapper">
        SELECT  <include refid="commonProcessDateColumns"/>
        FROM t_area WHERE 1=1
        <include refid="commonCondition"/>
    </select>

    <select id="findByCount" parameterType="com.example.dubboApi.model.Area" resultType="int">
        SELECT count(1) AS totalcount FROM t_area WHERE 1=1
        <include refid="commonCondition"/>
    </select>

    <select id="findByPagination" parameterType="com.example.dubboApi.model.Area" resultMap="AreaResultMapper">
        SELECT <include refid="commonProcessDateColumns"/>
        FROM t_area WHERE 1=1
        <include refid="commonCondition"/>
    </select>

</mapper>